@backgroundColor: #F5F5F5;
@borderColor: rgb(200, 200, 200);
@bodyWidth: 576px;
@innerWidth: 520px;

.backgroundPic (@name) {
  background: url('./img/@{name}.png') no-repeat;
}

body {
  width: @bodyWidth;
  height: 627px;
  margin: 20px auto;
  border: 1px solid @borderColor;
  font-size: 12px;
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.header {
  height: 61px;
  position: relative;
  border-bottom: 1px solid @borderColor;
  background-color: @backgroundColor;

  .control {
    height: 22px;

    .top {
      .backgroundPic (pin);
    }

    .min {
      .backgroundPic (min);
    }

    .max {
      .backgroundPic (max);
    }

    .close {
      .backgroundPic (close);
    }

    .top , .min , .max , .close {
      width: 32px;
      height: 22px;
      float: right;
      margin: 0 0 0 2px;
      background-origin: content-box;
      background-size: 18px;
    }
  }

  .name {
    float: left;
    margin-left: 10px;
    height: 31px;
    width: 196px;
    text-overflow: ellipsis;
    font-size: 16px;
  }

  .setting {
    float: right;
    height: 39px;
    width: 46px;
    .backgroundPic (setting);
    background-origin: content-box;
    background-size: 32px;
  }
}

.content {
  height: 421px;
  background-color: @backgroundColor;

  .inner {
    width: @innerWidth;
    height: 100%;
    margin: 0 auto;
  }
}

.conversation {
  height: 146px;
  position: relative;

  .control {
    padding-top: 6px;
    height: 36px;

    .pic , .file , .cut , .arrow , .history {
      float: left;
      margin: 5px 8px 7px 0;
    }

    .sound , .video {
      float: right;
      margin: 5px 0 7px 8px;
    }

    .pic {
      margin-left: 25px;
      .backgroundPic (pic);
    }

    .file {
      .backgroundPic (file);
    }

    .cut {
      margin-right: 0;
      .backgroundPic (cut);
      background-origin: content-box;
      background-size: 4px;
    }

    .arrow {
      .backgroundPic (arrow);
    }

    .history {
      .backgroundPic (history);
    }

    .sound {
      .backgroundPic (sound);
    }

    .video {
      margin-right: 25px;
      .backgroundPic (video);
    }

    .pic , .file , .cut , .arrow , .history , .sound , .video {
      width: 23px;
      height: 24px;
      background-origin: content-box;
      background-size: 18px;
    }
  }

  .text {
    height: 60px;
    width: @innerWidth;
    margin: 0 auto;
    display: block;
    border: none;
    resize: none;
  }

  .send {
    position: absolute;
    width: 68px;
    height: 25px;
    right: 29px;
    bottom: 11px;
    background-color: @backgroundColor;
    border: 1px solid @borderColor;
    color: rgb(100, 100, 100);
  }
}